<h1> Welcome to Karthikeya and Ishaan world !!!</h1>

{{template "sadhguru"}}
{{template "sadhguru"}}
{{template "sadhguru"}}

{{define "sadhguru"}}
<p>
    You do not have to prove anything to anyone. It is wonderful to be alive, to be who you are, and to grow. Ultimately, that is all that matters
</p>
{{end}}